@font-face
{
	font-family: Headliner;
	src: url('/TheChronicles/fonts/Headliner.ttf');
}

@font-face
{
	font-family: TheWorldIsYours;
	src: url('/TheChronicles/fonts/TheWorldIsYours.ttf');
}

@font-face
{
	font-family: CFMetropolis;
	src: url('/TheChronicles/fonts/CFMetropolis.ttf');
}

body{
	background-color: lightgrey;
}

#title{
	text-align: center;
	font-family: "Old English Text MT";
	font-size: 100px;
	padding-bottom: 40px;
}

#headline{
	text-align: center;
	font-family: Headliner;
	font-size: 90px;
}

#main_news{
	width: 100%;
	text-align: center;
}

#news_div{
	display: inline;
	text-align: center;
}

#video_news{
}

#vid{
	display: none;
	/*visibility: hidden;
	margin-left: -10000px;*/
}

.img_size{
	width: 400px;
	height: 400px;
}

.divide_3{
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}

#main_component{
	padding-top: 30px;
}

#column1{
	margin-top: -16px;
	border-right: solid;
	border-right-width: 2px;
	text-align: center;
	padding-bottom: 400px;
}

#column2{
	border-right: solid;
	border-right-width: 2px;
	border-left: solid;
	border-left-width: 2px;
	text-align: center;
	padding-bottom: 400px;
}

#column3{
	text-align: center;
	border-left: solid;
	border-left-width: 2px;
	padding-bottom: 200px;
}

.title_img{
	width: 400px;
	height: 400px;
}

.code_only{
	/*display: none;*/
}

.news_title{
	font-family: TheWorldIsYours;
	font-size: 50px;
}

.news_sub_title{
	font-family: CFMetropolis;
	font-size: 30px;
}

.padlarge{
	height: 200px;
}